# ==========================================
# VARIÁVEIS DE AMBIENTE DA VPS (PRODUÇÃO)
# ==========================================
# Copie este arquivo para ".env.prod" na VPS e preencha os valores.

# Configurações do Django
DEBUG=False
SECRET_KEY="SUA_SECRET_KEY_SUPER_SEGURA_E_ALEATORIA"
ALLOWED_HOSTS=displaydigital.duckdns.org,45.234.92.169,127.0.0.1,localhost

# Banco de Dados (PostgreSQL Docker)
POSTGRES_DB=displaydigital
POSTGRES_USER=postgres
POSTGRES_PASSWORD=SUA_SENHA_DO_BANCO_AQUI
DATABASE_URL=postgres://postgres:SUA_SENHA_DO_BANCO_AQUI@db:5432/displaydigital

# Credenciais da API Omie
OMIE_APP_KEY=SUA_CHAVE_OMIE_AQUI
OMIE_APP_SECRET=SEU_SECRET_OMIE_AQUI

# Credenciais de E-mail (Brevo)
ANYMAIL_BREVO_API_KEY=SUA_CHAVE_BREVO_AQUI
DEFAULT_FROM_EMAIL=no-reply@displaydigital.duckdns.org
