# ==========================================
# VARIÁVEIS DE AMBIENTE DA VPS (PRODUÇÃO)
# ==========================================
# Copie este arquivo para ".env.prod" na VPS e preencha os valores.

# Configurações do Django
DEBUG=False
SECRET_KEY="xcEBSx4xH19fIjtnmNeI12ji8scXwXm65I0Om7OkUNc="
ALLOWED_HOSTS=displaydigital.duckdns.org,45.234.92.169,127.0.0.1,localhost

# Banco de Dados (PostgreSQL Docker)
POSTGRES_DB=displaydigital
POSTGRES_USER=postgres
POSTGRES_PASSWORD=@Adm159010
DATABASE_URL=postgres://postgres:@Adm159010@db:5432/displaydigital



# Credenciais de E-mail (Brevo)
ANYMAIL_BREVO_API_KEY=SUA_CHAVE_BREVO_AQUI
DEFAULT_FROM_EMAIL=yuri.mandina@gmail.com
