# ========================
# 1. Python & Compilados
# ========================
__pycache__/
*.py[cod]
*$py.class

# ========================
# 2. Virtual Environment
# ========================
# Pasta do ambiente virtual visível na sua imagem
venv/
env/
.venv/

# ========================
# 3. Variáveis de Ambiente e Segredos
# ========================
# NUNCA suba isso para o repositório, mesmo que seja um repositório privado!
.env
.env.local
.env.*

# ========================
# 4. Banco de Dados
# ========================
# SQLite visível na sua imagem
*.sqlite3
db.sqlite3-journal

# ========================
# 5. Django Mídia e Uploads
# ========================

# Pasta 'media' padrão (caso configure MEDIA_ROOT depois)
media/

# Pasta vista na imagem contendo os vídeos .mp4
templates_video/

# Outras pastas de upload citadas no models.py
/midias/


# ========================
# 6. Arquivos Estáticos (Coletados)
# ========================
# Pasta gerada pelo comando collectstatic (produção)
staticfiles/
static_root/

# ========================
# 7. IDE e Sistema Operacional
# ========================
.vscode/
.idea/
.DS_Store
Thumbs.db